{% macro modal_editar_perfil() -%}
    <div class="modal fade" id="modal-editar-perfil"> 
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="boton-volver" data-bs-dismiss="modal">Cerrar</button>
                </div>
                <div class="modal-body text-center">
                    <h3>Editar perfil</h3>
                    <img id="previsualizacion-imagen-editar-perfil" src="../static/assets/icons/usuario.svg" onerror="this.src='../static/assets/icons/usuario.svg'" style="width: 90px;" class="rounded-circle m-2">
                    <form id="form-editar-perfil">
                        <div>
                            <label for="usuario">Nombre de usuario</label>
                            <br>
                            <input type="text" name="usuario" id="input-editar-usuario" autocomplete="off">
                        </div>
                        <div>
                            <label for="nombre">Correo electrónico</label>
                            <br>
                            <input type="email" name="correo" id="input-editar-correo" autocomplete="off">
                        </div>
                        <div>
                            <label for="clave">Nueva clave</label>
                            <br/>
                            <input type="password" name="clave"/>
                        </div>
                        <div>
                            <label for="confirmar-clave">Confirmar clave</label>
                            <br/>
                            <input type="password" name="confirmar-clave"/>
                        </div>
                        <div>
                            <label for="imagen">Nueva imagen de perfil</label>
                            <br/>
                            <input type="file" accept="image/*" name="imagen" id="input-nueva-imagen-perfil" class="input-formulario"/>
                        </div>
                    </form>
                </div>
                <button id="boton-guardar-edicion-perfil" class="mt-3 w-auto mx-auto boton-acento">Guardar cambios</button>
                <button id="boton-eliminar-perfil" class="boton-eliminar mt-3 mb-4 w-auto mx-auto boton-alerta">Eliminar perfil</button>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro modal_crear_repositorio() -%}
    <div class="modal fade" id="modal-crear-repositorio"> 
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="boton-volver" data-bs-dismiss="modal">Cerrar</button>
                </div>
                <div class="modal-body text-center">
                    <h3>Nuevo repositorio</h3>
                    <img id="previsualizacion-imagen-crear-repositorio" src="../static/assets/icons/repositorio.svg" onerror="this.src='../static/assets/icons/repositorio.svg'" style="width: 90px;" class="m-2">
                    <form id="form-crear-repositorio">
                        <div>
                            <label for="nombre">Nombre del repositorio</label>
                            <br>
                            <input type="text" name="nombre" autocomplete="off">
                        </div>
                        <div>
                            <label for="descripcion">Descripción (opcional)</label>
                            <br>
                            <input type="text" name="descripcion" autocomplete="off">
                        </div>
                        <div>
                            <label for="imagen">Imagen del repositorio (opcional)</label>
                            <br>
                            <input type="file" accept="image/*" name="imagen" id="input-imagen-crear-repositorio" class="input-formulario"/>
                        </div>
                    </form>
                </div>
                <button id="boton-guardar-repositorio" class="mt-3 mb-4 w-auto mx-auto boton-acento">Crear repositorio</button>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro modal_visualizar_repositorio() -%}
    <div class="modal fade" id="modal-visualizar-repositorio"> 
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="boton-volver" data-bs-dismiss="modal">Cerrar</button>
                </div>
                <div class="modal-body text-center">
                    <h2 id="nombre-visualizar-repositorio"></h3>
                    <img id="previsualizacion-imagen-visualizar-repositorio" src="../static/assets/icons/repositorio.svg" onerror="this.src='../static/assets/icons/repositorio.svg'" style="width: 90px;" class="m-2 w-25">
                    <h5 id="descripcion-visualizar-repositorio"></h5>
                    <hr>
                    <h4 class="mb-4">Imagenes</h4>
                    <div id="contenedor-imagenes-visualizar-repositorio" class="row row-cols-1 row-cols-md-3 g-4"></div>
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro modal_editar_repositorio() -%}
    <div class="modal fade" id="modal-editar-repositorio"> 
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="boton-volver" data-bs-dismiss="modal">Cerrar</button>
                </div>
                <div class="modal-body text-center">
                    <h3>Editar repositorio</h3>
                    <img id="previsualizacion-imagen-editar-repositorio" src="../static/assets/icons/repositorio.svg" onerror="this.src='../static/assets/icons/repositorio.svg'" style="width: 90px;" class="m-2">
                    <form id="form-editar-repositorio">
                        <div>
                            <label for="nombre">Nombre del repositorio</label>
                            <br>
                            <input type="text" name="nombre" id="input-nombre-editar-repositorio" autocomplete="off">
                        </div>
                        <div>
                            <label for="descripcion">Descripción (opcional)</label>
                            <br>
                            <input type="text" name="descripcion" id="input-descripcion-editar-repositorio" autocomplete="off">
                        </div>
                        <div>
                            <label for="imagen">Nueva imagen del repositorio (opcional)</label>
                            <br>
                            <input type="file" accept="image/*" name="imagen" id="input-imagen-editar-repositorio" class="input-formulario"/>
                        </div>
                    </form>
                </div>
                <button id="boton-guardar-edicion-repositorio" class="mt-3 w-auto mx-auto boton-acento">Guardar edición</button>
                <button id="boton-eliminar-repositorio" class="mt-3 mb-4 w-auto mx-auto boton-alerta">Eliminar repositorio</button>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro modal_crear_imagen() -%}
    <div class="modal fade" id="modal-crear-imagen"> 
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="boton-volver" data-bs-dismiss="modal">Cerrar</button>
                </div>
                <div class="modal-body text-center">
                    <h3>Nueva imagen</h3>
                    <img id="previsualizacion-imagen-crear-imagen" src="../static/assets/icons/imagen.svg" onerror="this.src='../static/assets/icons/imagen.svg'" class="m-2">
                    <form id="form-crear-imagen">
                        <div>
                            <label for="imagen">Imagen</label>
                            <br>
                            <input type="file" accept="image/*" name="imagen" id="input-imagen-crear-imagen" class="input-formulario"/>
                        </div>
                        <div>
                            <label for="descripcion">Descripción (opcional)</label>
                            <br>
                            <input type="text" name="descripcion" id="input-descripcion-crear-imagen" autocomplete="off">
                        </div>
                        <div>
                            <label for="repositorio">Repositorio</label>
                            <br>
                            <select name="repositorio" id="select-repositorio-crear-imagen">
                                <option value="">Seleccione un repositorio</option>
                            </select>
                        </div>
                        <div>
                            <label>Tags de la imagen</label>
                            <br>
                            <div id="contenedor-tags-crear-imagen" class="contenedor-tags">
                                <input type="text" id="input-tags-crear-imagen" autocomplete="off" placeholder="Nuevo tag">
                            </div>
                        </div>
                    </form>
                </div>
                <button id="boton-guardar-imagen" class="mt-3 mb-4 w-auto mx-auto boton-acento">Cargar imagen</button>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro modal_editar_imagen() -%}
    <div class="modal fade" id="modal-editar-imagen" data-bs-backdrop="static" data-bs-keyboard="false"> 
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="boton-volver" data-bs-toggle="modal" data-bs-target="#modal-visualizar-repositorio" data-bs-dismiss="modal">Volver</button>
                </div>
                <div class="modal-body text-center">
                    <h3>Editar imagen</h3>
                    <img id="previsualizacion-imagen-editar-imagen" src="../static/assets/icons/imagen.svg" onerror="this.src='../static/assets/icons/imagen.svg'" class="m-2">
                    <form id="form-editar-imagen">
                        <div>
                            <label for="imagen">Imagen</label>
                            <br>
                            <input type="file" accept="image/*" name="imagen" id="input-imagen-editar-imagen" class="input-formulario"/>
                        </div>
                        <div>
                            <label for="descripcion">Descripción (opcional)</label>
                            <br>
                            <input type="text" name="descripcion" id="input-descripcion-editar-imagen" autocomplete="off">
                        </div>
                        <div>
                            <label for="repositorio">Repositorio</label>
                            <br>
                            <select name="repositorio" id="select-repositorio-editar-imagen">
                                <option value="">Seleccione un repositorio</option>
                            </select>
                        </div>
                        <div>
                            <label>Tags de la imagen</label>
                            <br>
                            <div id="contenedor-tags-editar-imagen" class="contenedor-tags">
                                <input type="text" id="input-tags-editar-imagen" autocomplete="off" placeholder="Nuevo tag">
                            </div>
                        </div>
                    </form>
                </div>
                <button id="boton-guardar-editar-imagen" class="mt-3 w-auto mx-auto boton-acento">Guardar</button>
                <button id="boton-eliminar-imagen" class="mt-3 mb-4 w-auto mx-auto boton-alerta">Eliminar imagen</button>
            </div>
        </div>
    </div>
{%- endmacro %}