{% macro navbar(texto1, link1, texto2, link2) -%} 
    <nav class="navbar navbar-light">
        <div>
            <a href="/" class="text-decoration-none text-dark">
                <img src="../static/assets/icons/plasma.svg" alt="p" style="width: 2em;">
                <h1 class="d-inline align-middle plasma-nav">Plasma</h1>
            </a>
        </div>
        <div style="position: absolute; right: 1em;">
            <button onclick="location.href='{{link1}}'" class="boton-acento">{{texto1}}</button>
            &nbsp;
            <button onclick="location.href='{{link2}}'">{{texto2}}</button>
        </div>
    </nav>
{% endmacro -%}
