<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP -->
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='styles/bootstrap/bootstrap.min.css')}}"> -->
    <link rel="stylesheet" href="../static/styles/bootstrap/bootstrap.min.css">
    <!-- <script src="{{url_for('static', filename='scripts/bootstrap/bootstrap.min.js')}}" defer></script> -->
    <script src="../static/scripts/bootstrap/bootstrap.min.js" defer></script>
    <!-- CSS'S -->
    <link rel="stylesheet" href="../static/styles/style.css">
    {% block styles %} {% endblock %}
    <!-- JS'S -->
    {% block scripts %} {% endblock %}
    <title> {% block title %} {% endblock %} </title>
</head>
<body>
    {% block body %} {% endblock %}
</body>
</html>