{% extends 'base.html' %}
{% from 'elements/navbar.html' import navbar %}
{% from 'elements/modal.html' import modal_editar_perfil %}

{% block styles %}
    <link rel="stylesheet" href="../static/styles/dashboard.css">
{% endblock %}

{% block scripts %}
    <script src="../static/scripts/dashboard.js" type="module" defer></script>
    <script src="../static/scripts/modificacion_perfil.js" type="module" defer></script>
{% endblock %}

{% block title %} Plasma {% endblock %}

{% block body %} 
    <!-- NAVBAR -->
    <nav class="navbar navbar-light p-3">
        <div>
            <a href="/dashboard" class="text-decoration-none text-dark">
                <img src="../static/assets/icons/plasma.svg" alt="p" style="width: 2em;">
                <h1 class="d-inline align-middle">Plasma</h1>
            </a>
        </div>
        <div style="position: absolute; right: 1em;">
            <a href="perfil-usuario"><img src="../static/assets/icons/usuario.svg" onerror="this.src='../static/assets/icons/usuario.svg'" id="imagen-icono-perfil" class="rounded-circle icono-perfil"></a>
        </div>
    </nav>
    <div class="container-fluid" style="height: 90vh;">
        <div class="row flex-nowrap" style="height: 90vh;">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 barra-lateral">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item mt-2 mb-2">
                            <a href="/dashboard" class="nav-link align-middle px-0 text-dark">
                                <img src="../static/assets/icons/inicio.svg" class="fs-4 pb-1"> <span class="ms-1 d-none d-sm-inline">Inicio</span>
                            </a>
                        </li>                        
                        <li class="nav-item mb-2">
                            <a href="perfil-usuario" class="nav-link align-middle px-0 text-dark">
                                <img src="../static/assets/icons/repositorio.svg" class="fs-4 pb-1"> <span class="ms-1 d-none d-sm-inline">Mis repositorios</span>
                            </a>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link px-0 align-middle text-dark">
                                <img src="../static/assets/icons/nuevo-repositorio.svg" class="fs-4 pb-1"> <span class="ms-1 d-none d-sm-inline">Nuevo repositorio</span>
                            </a>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link px-0 align-middle text-dark">
                                <img src="../static/assets/icons/cargar.svg" class="fs-4 pb-1"> <span class="ms-1 d-none d-sm-inline">Nueva imagen</span>
                            </a>
                        </li>
                        <!-- EDITAR PERFIL -->
                        <li style="position:absolute; bottom: 4em">
                            <a id="link-editar-perfil" class="nav-link px-0 align-middle text-dark" role="button" data-bs-toggle="modal" href="#modal-editar-perfil">
                                <img src="../static/assets/icons/editar.svg" class="fs-4 pb-1"> <span class="ms-1 d-none d-sm-inline">Editar perfil</span>
                            </a>
                        </li>
                        <!-- CERRAR SESION -->
                        <li style="position:absolute; bottom: 1em">
                            <a id="link-cerrar-sesion" class="nav-link px-0 align-middle text-dark" role="button">
                                <img src="../static/assets/icons/logout.svg" class="fs-4 pb-1"> <span class="ms-1 d-none d-sm-inline">Cerrar sesión</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="div-contenido-principal" class="col py-3">
                {% block contenido %}
                    <h4>contenido en la vista del dashboard</h4>
                {% endblock %}
            </div>
        </div>
    </div>
    <!-- MODAL EDITAR PERFIL -->
    {{ modal_editar_perfil() }}
{% endblock %}