{% extends 'dashboard.html' %}

{% block scripts %}
    {{ super() }}
    <script src="../static/scripts/perfil_usuario.js" type="module" defer></script>
{% endblock %}

{% block contenido %} 
    <div id="contenedor-datos-usuario" class="text-center p-2 mb-3">
        <img id="imagen-perfil-usuario" src="../static/assets/icons/usuario.svg" onerror="this.src='../static/assets/icons/usuario.svg'" class="rounded-circle">
        <h3 id="nombre-usuario"></h3>
        <h5 id="correo-usuario"></h5>
        <h5 id="fecha-registro"></h5>
    </div>
    <h3 class="text-center">Mis Repositorios</h3>
    <hr>
    <div id="carga-repositorios-perfil" class="d-flex justify-content-center">
        <div class="spinner-border" role="status"></div>
    </div>
    <div id="contenedor-tarjetas-repositorios" class="row row-cols-1 row-cols-md-3 g-4"></div>
{% endblock %}
