body{
    overflow: hidden;
    background: #fafafa;
}

.barra-lateral{
    background-color: #e0e0e0;
}

/* CONTENEDOR PRINCIPAL DE CONTENIDO */
#div-contenido-principal{
    overflow: auto;
}

/* CONTENEDOR DE LOS DATOS DEL PERFIL DEL USUARIO */
#contenedor-datos-usuario{
    background-color: #e0e0e0;
    border-radius: 15px;
    /* box-shadow: 2px 5px 5px gray; */
}

/* IMAGEN DE PERFIL DEL USUARIO EN LA VISTA DE PERFIL */
#imagen-perfil-usuario{
    width: 15%;
}

/* PREVISUALIZACION DE LA IMAGEN DEL REPOSITORIO EN EL MODAL DE CREACION Y EDICION*/
#previsualizacion-imagen-crear-repositorio, #previsualizacion-imagen-editar-repositorio, #previsualizacion-imagen-crear-imagen{
    border-radius: 15px;
}

.card{
    width: 100%;
    margin-bottom: 1em;
    transition: transform 0.5s;
    box-shadow: 2px 5px 5px gray;
}
.card:hover{
    transform: scale(1.02);
}

.card img{
    width: 50%;
    margin: auto;
    margin-top: 1em;
    border-radius: 15px;
}

.card button{
    display: flex;
    align-items: center;
    width: auto;
    margin: auto;
    align-items: center;
}

/* ICONO DEL PERFIL DEL USUARIO EN LA NAVBAR */
.icono-perfil{
    width: 50px;
}

/* BOTON VOLVER */
.boton-volver{
    padding: 0.5em;
}

/* ESTILO DE LAS TARJETAS DE LAS PUBLICACIONES */
.tarjeta-publicacion {
    font-family: 'Montserrat';
    width: 35%;
    margin: auto;
    margin-bottom: 2em;
    transition: none;
}

.tarjeta-publicacion:hover{
    transform: none;
}

.tarjeta-publicacion .card-header{
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.tarjeta-publicacion .card-body{
    padding: 0px;
}

.tarjeta-publicacion .rounded-circle{
    width: 15%;
    margin-right: 0.5em;
}

.tarjeta-publicacion img{
    width: 100%;
    margin: 0px;
    border-radius: 0px;
}

.tarjeta-publicacion p{
    margin: 1em;
}

.contenedor-tags-publicacion{
    border-top: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    margin: 0px;
    padding: 0.5em;
}

/* ESTILO DE LAS TARJETAS DE LAS IMAGENES EN LA VISTA DE REPOSITORIO */
.tarjeta-imagen{
    text-align: left;
}

.tarjeta-imagen img{
    width: 100%;
    margin: 0px;
    border-radius: 0px;
}

.tarjeta-imagen .card-body{
    padding: 0px;
    padding-top: 1em;
}

.tarjeta-imagen p{
    margin: 1em;
}

/* ESTILOS REFERENTES A LOS TAGS */
.contenedor-tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
    border: 1px solid lightgray;
    border-radius: 15px;
    /* padding: 0.5em; */
    /* transition: box-shadow 0.5s; */
    margin: auto;
    margin-bottom: 1em;
    transition: box-shadow 0.5s;
    padding: 0.5em;
}

.tag{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 0.5em;
    margin: 0.5em;
    background-color: #eeeeee;
    font-size: smaller;
}

.tag img{
    width: 15px;
    cursor: pointer;
}

.contenedor-tags input{
    flex: 1;
    order: 99;
    /* border: none; */
    /* border-radius: none; */
    width: 100%;
    margin-bottom: 0px;
    transition: none;
}

.contenedor-tags input:hover, .contenedor-tags input:focus{
    box-shadow: none;
}

.contenedor-tags:hover, .contenedor-tags:focus{
    box-shadow: 2px 2px 8px lightgray;
}

/* AJUSTE PARA PANTALLAS DE MENOR TAMANO */
@media (max-width: 900px) {
    #imagen-perfil-usuario{
        width: 30%;
    }

    .tarjeta-publicacion{
        width: 60%;
    }
}
@media (max-width: 500px) {  
    #imagen-perfil-usuario{
        width: 45%;
    }

    .tarjeta-publicacion{
        width: 90%;
    }
}