body{
    overflow: hidden;
    background: #fafafa;
}

.barra-lateral{
    background-color: #e0e0e0;
}

/* CONTENEDOR PRINCIPAL DE CONTENIDO */
#div-contenido-principal{
    overflow: auto;
}

/* CONTENEDOR DE LOS DATOS DEL PERFIL DEL USUARIO */
#contenedor-datos-usuario{
    background-color: #e0e0e0;
    border-radius: 15px;
    /* box-shadow: 2px 5px 5px gray; */
}

/* IMAGEN DE PERFIL DEL USUARIO EN LA VISTA DE PERFIL */
#imagen-perfil-usuario{
    width: 15%;
}

/* PREVISUALIZACION DE LA IMAGEN DEL REPOSITORIO EN EL MODAL DE CREACION Y EDICION*/
#previsualizacion-imagen-crear-repositorio, #previsualizacion-imagen-editar-repositorio{
    border-radius: 15px;
}

.card{
    width: 100%;
    margin-bottom: 1em;
    transition: transform 0.5s;
    box-shadow: 2px 5px 5px gray;
}
.card:hover{
    transform: scale(1.02);
}

.card img{
    width: 50%;
    margin: auto;
    margin-top: 1em;
    border-radius: 15px;
}

.card button{
    display: flex;
    align-items: center;
    width: auto;
    margin: auto;
    align-items: center;
}

/* ICONO DEL PERFIL DEL USUARIO EN LA NAVBAR */
.icono-perfil{
    width: 50px;
}

/* BOTON VOLVER */
.boton-volver{
    padding: 0.5em;
}

/* AJUSTE PARA PANTALLAS DE MENOR TAMANO */
@media (max-width: 900px) {
    #imagen-perfil-usuario{
        width: 30%;
    }
}
@media (max-width: 500px) {  
    #imagen-perfil-usuario{
        width: 45%;
    }
}