.contenedor-info-inicio{
    flex: 1;
    text-align: center;
    color: white;
    text-shadow: 1px 0px 10px rgba(0, 0, 0, 0.5);
}

.contenedor-imagen-inicio{
    display: flex;
    margin-right: 1.5em;
    align-items: center;
    width: 30%;
    background-color: white;
    border-radius: 50%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.contenedor-imagen-inicio:before{
    content: "";
    padding-top: 100%;
}

.card{
    width: auto;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.card img{
    width: 80%;
    margin: auto;
    margin-top: 1em;
}

.card-body{
    margin: auto;
}

body{
    padding-bottom: 3em;
}